<div class="container-show">
  <h1>Mon Profil</h1>
  <% if @profile.photo.attached? %>
  <%= cl_image_tag @profile.photo.key, height: 200, width: 200, crop: :fill %>
  <% end %>


  <div class="profile-container">
    <div class="profile-info">
      <p><strong>Prénom :</strong> <%= @profile.first_name %></p>
      <p><strong>Nom :</strong> <%= @profile.last_name %></p>
      <p><strong>Mood actuel :</strong> <%= @profile.mood %></p>

      <p><strong>Centres d'intérêt :</strong></p>
      <ul class="hobbie-list">
        <% (@profile.hobbie.is_a?(String) ? @profile.hobbie.split(",") : @profile.hobbie).each do |hobbie| %>
          <li><%= hobbie.strip %></li>
        <% end %>
      </ul>
    </div>

    <%= link_to "🛠 Modifier mon profil", edit_profile_path(@profile), class: "btn btn-primary" %>
    <%= link_to "⬅ Retour", dashboard_path, class: "btn btn-secondary" %>
  </div>
</div>
