<div class="container-show">
<  <h1>Discussion pour l'événement: <%= @chatroom.event.title %></h1>

  <div>
    <% @messages.each do |message| %>
      <p><strong><%= message.user.first_name %> :</strong> <%= message.content %></p>
    <% end %>
  </div>

  <h2>Envoyer un message</h2>
  <%= form_with model: @message, url: event_chatroom_messages_path(@chatroom.event, @chatroom), local: true do |form| %>
    <div>
      <%= form.text_area :content %>
    </div>

    <div>
      <%= form.submit "Envoyer" %>
    </div>
  <% end %>

  <%= link_to "Retour aux événements", events_path %>
</div>
