<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to authenticated_root_path, class: "navbar-brand" do %>
      <%= image_tag "logo2.png" %>
    <% end %>

    <div class="nav-items d-flex align-items-center gap-3">

      <% if current_user.profile.present? %>
        <div class="user-mood">
          <strong><%= current_user.profile.mood %></strong>
        </div>
      <% else %>
        <%= link_to "Créer mon profil", new_profile_path, class: "btn btn-warning" %>
      <% end %>


      <%= link_to dashboard_path, class: "nav-link dashboard-link" do %>
        Dashboard
        <% if current_user.accepted_events.any? %>
          <span class="badge bg-danger"><%= current_user.accepted_events.count %></span>
        <% end %>
      <% end %>


      <%= link_to edit_profile_path(current_user.profile), class: "nav-link profile-link" do %>
        Mon Profil
      <% end %>


      <%= link_to "Se Déconnecter", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>
    </div>
  </div>
</div>
