<div class="index-container" data-controller="map-toggle">
  <div class="flex">
    <div class="events-grid" data-map-toggle-target="grid">
      <div class="container-search" data-map-toggle-target="search">
        <%= form_tag events_path, class: "form d-flex", method: :get do %>
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Trouve un event" %>
          <%= button_tag type: "submit", class: "btn button" do %>
            <i class="fa fa-search"></i>
          <% end %>

      </div>
      <div class="filters-container">
        <div class="checkbox-map">
          <div class="checkbox-row">
            <input type="checkbox" id="Fêtard" name="Fêtard" <%="checked" if @user_moods=="Fêtard"%>/>
            <label for="Fêtard" class="checkbox-label">Fêtard</label>
            <input type="checkbox" id="Créatif" name="Créatif"<%="checked" if @user_moods=="Créatif"%>/>
            <label for="Créatif" class="checkbox-label">Créatif</label>
            <input type="checkbox" id="Explorateur" name="Explorateur"<%="checked" if @user_moods=="Explorateur"%>/>
            <label for="Explorateur" class="checkbox-label">Explorateur</label>
            <input type="checkbox" id="Zen" name="Zen"<%="checked" if @user_moods=="Zen"%>/>
            <label for="Zen" class="checkbox-label">Zen/Posé</label>
          </div>

          <div class="checkbox-row">
            <input type="checkbox" id="Geek-Créatif" name="Geek-Créatif"<%="checked" if @user_hobbies.include?("Geek-Créatif")%>/>
            <label for="Geek-Créatif" class="checkbox-label">Geek-Créatif</label>
            <input type="checkbox" id="Sport-Aventure" name="Sport-Aventure"<%="checked" if @user_hobbies.include?("Sport-Aventure")%>/>
            <label for="Sport-Aventure" class="checkbox-label">Sport-Aventure</label>
            <input type="checkbox" id="Food-Partage" name="Food-Partage"<%="checked" if @user_hobbies.include?("Food-Partage")%>/>
            <label for="Food-Partage" class="checkbox-label">Food-Partage</label>
            <input type="checkbox" id="Chill-Cosy" name="Chill-Cosy"<%="checked" if @user_hobbies.include?("Chill-Cosy")%>/>
            <label for="Chill-Cosy" class="checkbox-label">Chill-Cosy</label>
          </div>
        </div>
        <% end %>


      </div>

      <% @events.each do |event| %>
        <% unless current_user == event.user %>
          <%= link_to event_path(event), class: "event-card-link" do %>
            <div class="event-card">
              <div class= "logo-container">
                <%= cl_image_tag event.photo.key, height: 300, width: 400, crop: :fill %>
                <div class="event-badges mood-logo" title="<%= event.user.mood %>">
                  <% case event.user.mood %>
                  <% when "Fêtard" %>
                    <i class="fa-solid fa-fire"></i>
                  <% when "Créatif" %>
                    <i class="fa-solid fa-palette"></i>
                  <% when "Explorateur" %>
                    <i class="fa-regular fa-compass"></i>
                  <% when "Zen" %>
                    <i class="fa-solid fa-leaf"></i>
                  <% else %>
                    <%= event.user.mood %>
                  <% end %>
                </div>
              </div>
              <h3><%= event.title %></h3>
              <div class="txt_card">
                <p><i class="fa-solid fa-location-dot"></i> <%= event.address %></p>
                <p><i class="fa-solid fa-calendar-days"></i> <i><%= event.date.strftime("%d/%m/%Y %H:%M") %></i></p>
                <p><i class="fa-solid fa-users"></i> Participants max : <b><%= event.max_participants %></b></p>
                <% if user_signed_in? && current_user == event.user %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
