
<div class="container">
  <%= form_with model: @event, local: true do |form| %>
    <div class="form-group">
      <%= form.label :title, "Quel êvènement, activité proposes-tu?" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :description, "Dis-nous-en un peu plus" %>
      <%= form.text_field :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :date, "Quand?" %>
      <%= form.text_field :date, class: "form-control", data:{controller: "flatpicker"} %>
    </div>


    <div class="form-group">
  <%= form.label :address, "Où ça?" %>
  <%= form.text_field :address, class: "form-control", data: { controller: "address-autocomplete", action: "input->address-autocomplete#search", address_autocomplete_target: "input" } %>
</div>


    <div class="form-group">
      <%= form.label :mood, "Le Mood de mon événement:" %>
      <%= form.text_field :mood, class: "form-control", placeholder: current_user.mood, disabled: true %>
      <p class="text-white">Tu peux modifier ton mood via ton profil</p>
    </div>

    <fieldset>
  <div class="radio-map form-group">
    <%= form.label :activity, "Le type de hobby de ton événement ?" %>
    <div class="radio-row">
      <input type="radio" id="Geek-Créatif" name="activity" value="Geek-Créatif" />
      <label for="Geek-Créatif" class="radio-label">Geek-Créatif</label>

      <input type="radio" id="Sport-Aventure" name="activity" value="Sport-Aventure" />
      <label for="Sport-Aventure" class="radio-label">Sport-Aventure</label>

      <input type="radio" id="Food-Partage" name="activity" value="Food-Partage" />
      <label for="Food-Partage" class="radio-label">Food-Partage</label>

      <input type="radio" id="Chill-Cosy" name="activity" value="Chill-Cosy" />
      <label for="Chill-Cosy" class="radio-label">Chill-Cosy</label>
    </div>
  </div>
</fieldset>


   <div class="form-group">
    <%= form.label :max_participants, "Nombre maximal de participants" %>
    <%= form.select :max_participants, options_for_select((2..100).to_a), {}, class: "form-control" %>
  </div>

    <%= form.file_field :photo%>

    <%= form.submit "Créer l'événement", class: "btn btn-success" %>
  <% end %>

  <%= link_to "⬅ Retour", events_path, class: "btn btn-secondary" %>
</div>
