<div class="container-show">
  <div class="event">
    <%= cl_image_tag @event.photo.key, class:"event-image" %>
    <h1><%= @event.title %></h1>
  </div>
  <div class="event-info">
    <p> <i class="fa-solid fa-location-dot"></i> <%= @event.address %></p>
    <p> <i class="fa-solid fa-calendar-days"></i> <i><%= @event.date.strftime("%d/%m/%Y %H:%M") %></i></p>
    <p class="event-description"> <%= @event.description %></p>
    <div class="mood">
      <p> <%= @event.mood %></p>
      <p> <%= @event.activity %></p>
    </div>

    <p class="inside-card"> <strong> Participants :</strong> <%= @event.participations.where(status:"accepted").count %> / <%= @event.max_participants %></p>
    <% if user_signed_in? %>
      <% participation = current_user.participations.find_by(event: @event) %>
      <% if participation.blank? %>
        <% if @event.participations.where(status:"accepted").count == @event.max_participants %>
        <%= button_to "Evénement complet", event_participations_path(@event), method: :post, :disabled => true, class: "btn button-event" unless current_user == @event.user %>
        <% else %>
        <%= button_to "Participer", event_participations_path(@event), method: :post, class: "btn button-event" unless current_user == @event.user %>
        <% end %>
      <% elsif participation.accepted? %>
        <%= link_to "Rejoindre le Chat", event_chatroom_path(@event), class: "btn button-event" %>
      <% else %>
        <p class="waiting-card"> En attente de validation...</p>
      <% end %>
    <% end %>
    <% if current_user == @event.user %>
      <% if @pending_participations %>
        <h2>Ils veulent participer à ton événement :</h2>
        <ul>
          <% @pending_participations.each do |participation| %>
            <li style="display: flex; align-items: center; gap: 10px;">
              <%= link_to accept_participation_path(participation), data: { turbo_method: :patch } do %>
                <div class="btn btn-primary">Valider</div>
              <% end %>
              <%= link_to reject_participation_path(participation), data: { turbo_method: :patch } do %>
                <div class="btn btn-warning">Refuser</div>
              <% end %>
              <%= link_to profile_path(participation.user), class: "btn btn-outline-secondary", title: "Voir le profil" do %>
                <%= cl_image_tag participation.user.profile.photo.key, class: "avatar"%>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>Aucune participation.</p>
      <% end %>
    <% end %>

 <% if @accepted_participations %>
  <h2>Ils participent à ton événement :</h2>
  <ul>
    <% @accepted_participations.each do |participation| %>
      <li>
        <%= link_to profile_path(participation.user), class: "btn btn-outline-secondary", title: "Voir le profil" do %>
          <%= cl_image_tag participation.user.profile.photo.key, class: "avatar"%>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>



    <div class="map-style"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="event-return-button-show">
    <%= link_to "⬅ Retour aux événements", events_path, class: "event-return" %>
  </div>
</div>
