<div class="body-dashboard background">
  <div class="container-dashboard">
    <div class="dashboard-text">

      <%= link_to "Créer un Événement", new_event_path, class: "btn button-dashboard" if user_signed_in? %>

      <h2>Mes Événements Créés</h2>
      <% if @created_events.any? %>
        <ul>
          <% @created_events.each do |event| %>
            <li>
              <%= link_to event.title, event_path(event) %>
              <%= link_to "🗑 Supprimer", event_path(event), method: :delete,
                          data: { confirm: "Supprimer cet événement ?" }, class: "btn btn-danger" %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>Tu n'as pas encore créé d'événement.</p>
      <% end %>

      <h2>Mes Participations - En attente</h2>
      <% if @pending_events.any? %>
        <ul>
          <% @pending_events.each do |event| %>
            <li>
              <%= link_to event.title, event_path(event) %> - En attente de confirmation
              <%= link_to "Annuler", event_participation_path(event, event.participations.find_by(user: current_user)),
                          method: :delete,
                          data: { confirm: "Annuler ta participation ?" },
                          class: "btn btn-warning" %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>Aucune participation en attente.</p>
      <% end %>

      <h2>Mes événements à venir</h2>
      <% if @accepted_events.any? %>
        <ul>
          <% @accepted_events.each do |event| %>
            <li>
              <%= link_to event.title, event_path(event) %> - Participation confirmée
              <%= link_to "Annuler", event_participation_path(event, event.participations.find_by(user: current_user)),
                          method: :delete,
                          data: { confirm: "Annuler ta participation ?" },
                          class: "btn btn-warning" %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>Aucun événement à venir.</p>
      <% end %>

      <div class="container-tchat">
        <h2>Messages</h2>
        <% if @chatrooms.any? %>
          <ul class="chatroom-list">
            <% @chatrooms.each do |chatroom| %>
              <li class="tchat-link">
                <%= link_to chatroom.event.title, event_chatroom_path(chatroom.event, chatroom), class: "chatroom-link" %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>Aucune discussion en cours. Rejoins un événement pour discuter avec les autres participants !</p>
        <% end %>
      </div>

    </div>
  </div>
</div>
