<div class="body-dashboard background">
  <div class="container-dashboard">
    <div class="dashboard-text">
      <%= link_to "Créer un Événement", new_event_path, class: "btn button-dashboard" if user_signed_in? %>
      <h2>Mes Événements Créés</h2>
      <div class="container-cards-dashboard">
        <% @created_events.each do |event| %>
          <div class="event-card-dashboard">
            <div class="card-body">
                <%= link_to "🗑", event_path(event), data: { turbo_method: :delete, turbo_confirm: "Supprimer cet événement ?" }, class: "btn btn-danger delete-button" %>
                <%= cl_image_tag event.photo.key, height: 150, width: 350, crop: :fill, class: "event-img-dashboard" %>
                <%= link_to event_path(event) do %>
                  <h5 class="card-title"><%= event.title %></h5>
                  <h6 class="card-date"><%= event.date.strftime("%d/%m/%Y à %H:%M") %></h6>
                <% end %>
            </div>
          </div>
        <% end %>
      </div>

<h2>Mes Participations en attente</h2>
<div class="container-cards-dashboard">
  <% if @pending_events.any? %>
    <% @pending_events.each do |event| %>
      <div class="event-card-dashboard">
        <div class="card-body">
          <%= link_to "x", event_participation_path(event, event.participations.find_by(user: current_user)),
                method: :delete,
                data: { confirm: "Annuler ta participation ?" },
                class: "btn btn-warning delete-button" %>
          <%= cl_image_tag event.photo.key, height: 150, width: 350, crop: :fill, class: "event-img-dashboard" %>
          <%= link_to event_path(event), class: "event-card-link-dashboard" do %>
            <h5 class="card-title"><%= event.title %></h5>
            <h6 class="card-date"><%= event.date.strftime("%d/%m/%Y à %H:%M") %></h6>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Aucune participation en attente.</p>
  <% end %>
</div>


      <h2>Mes événements confirmés</h2>
<div class="container-cards-dashboard">
  <% if @accepted_events.any? %>
    <% @accepted_events.each do |event| %>
      <div class="event-card-dashboard">
        <div class="card-body">
          <%= link_to "x", event_participation_path(event, event.participations.find_by(user: current_user)),
                method: :delete,
                data: { confirm: "Es-tu sûr de vouloir annuler ta participation ?" },
                class: "btn btn-danger delete-button" %>
          <%= cl_image_tag event.photo.key, height: 150, width: 350, crop: :fill, class: "event-img-dashboard" %>
          <%= link_to event_path(event), class: "event-card-link-dashboard" do %>
            <h5 class="card-title"><%= event.title %></h5>
            <h6 class="card-date"><%= event.date.strftime("%d/%m/%Y à %H:%M") %></h6>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Aucun événement à venir.</p>
  <% end %>
</div>
